@import '~scane/styles/variables';
@import '~scane/styles/mixins';

.button {
  width: 100%;
  border: 1px solid $border-color;
  box-shadow: $button-shadow;
  border-radius: $s4;
  padding: $s8;
  line-height: 1.5;
  font-size: $fs-xs;
  background-color: $color-blue-primary;
  color: $color-white;

  &:hover {
    cursor: pointer;
    background-color: $color-blue-400;
  }

  &.disabled {
    background-color: $color-blue-400;
  }
}
