@import '~scane/styles/variables';
@import '~scane/styles/mixins';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: $s24;
  background: $color-white;
  border-radius: $s4;
  @include card-shadow-border($border-color);

  button {
    &:hover {
      cursor: pointer;
    }
  }

  button:last-of-type {
    margin-left: $s8;
  }
}

.error {
  background-color: #d64242;
  border: 1px solid $border-color;
  border-radius: $s4;
  padding: $s8;
  color: $color-white;
  margin-top: $s8;
  font-size: $fs-xs;
}

.success {
  background-color: #55c168;
  border: 1px solid $border-color;
  border-radius: $s4;
  padding: $s8;
  color: $color-white;
  margin-bottom: $s8;
  font-size: $fs-xs;
}

.dropzone {
  min-width: 475px;
  padding: $s16;
  border: 1px solid $border-color;
  border-radius: $s4;
  border-style: dashed;
  margin-bottom: $s8;
  text-align: center;
  font-size: $fs-xs;

  &:hover {
    cursor: pointer;
    background-color: $color-grey-10;
    color: $color-blue-primary;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.fileNames {
  margin-bottom: $s8;
  font-size: $fs-xs;
}
