@import '~scane/styles/variables';
@import '~scane/styles/mixins';

.container {
  display: flex;
}

.content {
  width: 100%;
  padding: $s40;
}

.sideBar {
  background: $color-white;
  width: $sidebar-width;
  min-height: 100vh;
  border-right: 2px solid $border-color;

  .sideBarHeader {
    background: $color-biege-400;
    box-shadow: inset 0 -1px 0 0 $border-color;
    height: $s104;
    padding: $s32;
  }

  .linksContainer {
    padding: $s32;

    a {
      display: block;
      margin-bottom: $s16;
      text-decoration: none;
      color: $color-biege-primary;

      &:hover {
        cursor: pointer;
        color: $color-blue-primary;
      }
    }

    .active {
      color: $color-text-dark;
    }
  }
}
